@model MvcCv.DAL.Entities.Sertificate
@{
    ViewData["Title"] = "GetSertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Sertifika Güncelle</h1>

<form method="post">
    @Html.Label("Sertifika")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color:red" })
    <br />
    @Html.Label("Alındığı Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Date, "", new { @style = "color:red" })
    <br />
    <div class="container-fluid">
        <a href="/Sertificate/Index/" class="btn btn-info mx-4">Vazgeç</a>
        <span class="">
            <button class="btn btn-success mx-4">Kaydet</button>
        </span>
        <a href="/Sertificate/DeleteSertificate/@ViewBag.d" class="btn btn-danger">Sertifika Sil</a>
    </div>

</form>
